<section class='contract'>
  <ul>
    <li><%= @contract.customer %></li>
    <li><%= @contract.equipment %></li>
    <li><%= @contract.acquisition_price %></li>
    <li><%= @contract.delivery_address %></li>
    <li><%= @contract.responsable %></li>
    <li><%= @contract.cpf %></li>
    <li><%= @contract.rental_period %></li>
    <li><%= @contract.initial_date %></li>
    <li><%= @contract.amount %></li>
    <li><%= @contract.discount %></li>
    <li><%= @contract.created_at %></li>
  </ul>
</section>
